body{
    font-family: sans-serif;
    background-image: url(9.jpg);
   
    background-size: cover;
}
.container{
    margin-top: 10%;
    
    width: 450px;
    margin-left: 35%;
    margin-bottom: auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 20px #0C2D48;
}
.header{
    text-align: center;
    padding-top: 75px;
    
}
.header h2{
    color: #fff;
    font-size: 45px;
    margin-bottom: 0;
    font-family: sans-serif;
}
.header h5{
    color: #fff;
    margin-bottom: 50px;
}
.main{
    text-align: center;
}
.main input, button{
    width:300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}
.main button{
    padding-left: 0;
    background-color:#008B8B;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
    border-radius: 50px;
}
.main button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #21B6A8;
}
.main input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}
.main span{
    position: relative;
}
.main svg{
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 18px;
    top: 0.75px;
}

